
body{
    position: relative;
   background-color:rgb(250, 242, 236);
   font-size: 16px !important;
}

.div-height{
    height: 12vw;
}

.navbar-toggler{
    border: 1px solid white !important;
    padding: .2em;
}
.navbar-toggler-icon{
    width: 1em;
    height: 1em;
}
.navbar-brand img{
max-width: 60% !important;
}


nav ul li{
    padding-right: 15px;
    padding-bottom: 5px;
}
nav ul a{
    text-decoration: none;
    color: rgb(241, 113, 15);
    font-weight: bold;
    font-size: 14px
}
nav ul a:hover{
    color: blue;
}

/*
The container box is relative so we can position stuff inside of it
*/
.image-box {
    position: relative;
    }

/*
The background and overlay need to be absolutely positioned
*/
.image-box-bg, .image-box-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/*
The background image div sizes and positions the background itself.
It's also at the bottom-most position in our "div stack" (z-index 1)

*/

.image-box-bg{
    background: url('./static/images/car.png') center center no-repeat ;
    background-size: cover;
    z-index: 1
}

/*
The overlay div is just a colored element with some opacity.
It's above the background image in our stack, so it appears to
darken the image
*/
.image-box-overlay{
background: rgba(0, 0, 0, 0.8);
z-index: 2;
}

/*
The content div is at the top of our stack.
We'd probably add some padding or flexbox properties here as well,
to place the content appropriately
*/
.image-box-content {
position: relative;
z-index: 3;
/* Finally, style and place the content */
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;

}
.italic{
    font-style: italic
}
.bg-ddd{
    background-color: #dddddd;
}
.bg-eee{
    background-color: #eee;
}
.bg-chocolate{
  background-color:rgb(243, 175, 123);
  background-image: linear-gradient(180deg, rgb(250, 242, 236), rgb(243, 175, 123));
}
.bg-full-chocolate{
  background-color:rgb(243, 175, 123);
}

.bg-black{
    background: black;
}
.black-text{
    color: black;
}
.text-chocolate{
  color: rgb(241, 113, 15) !important;
}

.align-self{
    align-self: center;
}
.align-items{
    align-items: center
}

.font-size{
    font-size: 15px;
}

input:focus , select:focus {
    background-color: black !important;
    border: 0px !important;
}
option:hover{
    background-color: gray !important;
}
.min-height{
    min-height: 75vh;
}
.no-border{
    border: none !important;
}



@media (max-width:768px){
   
    .display {
        justify-content: start;
    }
    ul{
        background-color: rgb(65, 63, 63) !important;
    }
    
}
