{% extends 'header_footer.html' %}

{% block content %}
  
     
    <section class="container">
        

        <div class="row m-5 pt-5 min-height first-scroll">
            <div class="col-12 mt-5 py-5 px-4 d-flex justify-content-center bg-ddd" > 
                <p>
                    Predict Car Price is an application that allows user use mix of car properties to predict the average cost of car in US auto market.
                     <br><br>
                    <strong>How does it work? </strong>  <br><br>
                    User is required to enter certain information about the car of interest such as the brand, engine type, mileage etc. The application will process the user input with an internally computed regression model obtained from thousands of data of different brand of cars in the US auto market.<br>

                    
                </p>                    
                               
            </div>
        </div>

        

    </section>      
           
{% endblock %} 


