{% extends 'header_footer.html' %}

{% block content %}
  
     
    <section class="container">
        

        <div class="row m-5 pt-5 min-height first-scroll">
            <div class="col-12 mt-5 pt-5 d-flex justify-content-center bg-ddd" > 
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dolorem accusamus quaerat, pariatur nobis nisi magnam earum placeat quos! Aliquid quia ab distinctio accusantium laboriosam dolor atque recusandae quaerat itaque. <br><br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sunt ipsum debitis et quae? Modi, eveniet. Esse officiis eius ex necessitatibus dolorum temporibus hic, porro quo sequi dicta doloremque quasi? <br>

                    
                </p>                    
                               
            </div>
        </div>

        

    </section>      
           
{% endblock %} 


