
{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome_css/all.min.css' %}">
        
     
    </head>

    <body>

        <nav class="navbar navbar-expand-md fixed-top mb-5 bg-transparent scroll py-5"> 
            <div class="container">

                <div class="d-flex justify-content-start align-items-center w-100">                        
                        
                    <a class="navbar-brand" href="#">
                            <img src= '{% static "img/car-price.png"  %}'  class="w-75 " alt=""/>
                    </a>
                    
                    <button type="button" class="navbar-toggler mr-4" data-toggle="collapse" data-target="#navbarContent" aria-expanded="true">
                        <span class="navbar-toggler-icon bg-white"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse display" id="navbarContent">
                    <ul class="navbar-nav p-3 pr-5">
                        <li class="nav-item active"><a href="/" class="">HOME</a></li>
                        <div class="dropdown-divider"></div>
                        <li class="nav-item"><a href="about" class="">ABOUT</a></li>
                        <div class="dropdown-divider"></div>
                                               
                    </ul>
                </div>
           </div>
        </nav>

        <!-- NAVIGATION ENDS  -->
       
        {% block content%}

        {% endblock %}        

    
        <footer>
            <div class="row bg-black p-4">
                <div class="text-center m-auto text-white footer-scroll py-1">
                    <p>&copy 2020 Beovert  | <a href="https://www.beovert.com.ng/" target="_blank"> Beovert Concept &nbsp;</p>
                </div>
        
            </div>
        
        </footer>

            <!-- FOOTER ENDS  -->
            
        <!-- <script  src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
         -->
        <script src= '{% static "js/jquery-3.3.1.js" %}'></script>
        <script src= '{% static "js/jquery-ui.min.js" %}' ></script>
        <script src= '{% static "js/bootstrap.min.js" %}' ></script>
        <script src= '{% static "js/scrollreveal.min.js" %}' ></script>            
        <script type="text/javascript" src='{% static "js/custom.js" %}'>  </script>
                
            
    </body>
</html>
            